<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServiceEmailReminders.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ServiceEmailReminders.Properties.Settings.ULS_db1ConnectionString"
            connectionString="Data Source=(local);Initial Catalog=ULS_db1;Persist Security Info=True;User ID=uls2008;Password=uls2008"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <applicationSettings>
    <ServiceEmailReminders.Properties.Settings>
      <setting name="SMPTPort" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="logpath" serializeAs="String">
        <value>C:\HostingSpaces\admin\ULSCorp.com\wwwroot\emaillogs\</value>
      </setting>
      <setting name="SMTPServer" serializeAs="String">
        <value>mail.ulscorp.com</value>
      </setting>
      <setting name="SMTPuid" serializeAs="String">
        <value>serviceinfo</value>
      </setting>
      <setting name="SMTPfrom" serializeAs="String">
        <value>ServiceInfo@ulscorp.com</value>
      </setting>
      <setting name="SMTPpwd" serializeAs="String">
        <value>ULS*1111</value>
      </setting>
    </ServiceEmailReminders.Properties.Settings>
  </applicationSettings>
</configuration>